<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
		<title>Whoops!</title>
		<link rel="stylesheet" href="/css/errorpage.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="img/favicon.ico" type="image"/>
	</head>
	<body>
		<div id="cwrap">
			<div id="message">
				<img id="logo" src="/img/placeholder.png" alt="Fatwin" />
				<h1>Looks like we have an error!</h1>
				<p>We can't seem to load the page you're looking for! Double-check the address you were typing for any typos and try again, or you can <a href="mailto:support@fatwin.com" title="contact us">&nbsp;contact us&nbsp;</a> for help ;)</p>
							</div>
			
			<div id="footer">
				<ul id="copyright">
					<li><img src="/img/lgsm.png" alt="FatWin Copyright 2013"/></li>
					<li>©2013 FatWin, LLC</li>
					<li>All rights reserved.</li>
				</ul>
			</div>
			
		</div>
	
	</body>
</html>
